
{% extends 'base.html' %}

    {% block content %}

<h3 style="color: #b042f5;"> third page</h3>


    <form method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td>User Name :</td>
                <td><input type="text" name="user"></td>
                <td> {{users}} </td> 
            </tr>
            <tr>
                <td>Name :</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>Password :</td>
                <td> <input type="password" name="password"> </td>
                <td> {{password}} </td>
            </tr>
            <tr>
                <td>Re_password :</td>
                <td><input type="password" name="re_password">
                </td>
            </tr>
        </table>
        <button>signin</button>
    </form>
    {% endblock %}