button {
    color: rgb(106, 165, 42);
}

body{
    background-image: url('bg1.jpeg');
    background-position: center;
    position: relative;
}
.fornt{
    color: rgb(186, 250, 133);
    text-align: center;
}
@media screen and (max-width : 600px) {
    button {
        color: rgb(231, 69, 69);
    }
}